__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.vscode/
.idea/
.DS_Store
report/*.aux
report/*.log
report/*.out
report/*.synctex.gz
report/*.fdb_latexmk
report/*.fls
report/*.toceval_outputs_backup_*/
eval_outputs_backup_*/

sage-submission.zip
